## STAT 207 Lab 3: Sampling, Loops and Functions

Due: Wednesday, February 12, 23:59:59

### Michael Cao and minhcao2

This lab consists of 3 main parts. You may add as many cells as you need in order to do the exercises. To add cells use the "Insert" tab from the menu bar above and select "insert cell above" or "insert cell below". 

The data file "cards.csv" is included in the release. It is a data frame representing the 52 cards in a standard deck of playing cards. Each row represents one of the 52 possible cards. For further details see the course notes "04_Sampling".

**Note: Some problems require deriving answers mathematically or explaining rather than coding.**

### Part 1 (8 pts) Sampling without replacement.

**a) (1 pt) Using python commands, read "cards.csv" into a pandas data frame, being sure to import any libraries that you need.  Display the first 5 rows of the data.**

In [1]:
import pandas as pd
df = pd.read_csv("cards.csv")
df.head(n = 5)

   color  suit face
0  black  club    A
1  black  club    2
2  black  club    3
3  black  club    4
4  black  club    5

**b) (2 pts) A poker hand consists of 5 cards drawn at random without replacement from a 52 card deck. Using python and the cards data frame you imported, draw a poker hand by sampling from the cards and displaying the resulting sample.**

In [2]:
df.sample(n=5)

    color     suit face
15  black    spade    3
17  black    spade    5
32    red  diamond    7
46    red    heart    8
49    red    heart    J

**c) (3 pts) Recall from the notes that there are ${{52}\choose{5}}=2,598,960$ (52 choose 5) possible poker hands. How many of these possible hands contain exactly 2 clubs? Hint: consider the number of ways to get 2 clubs and 3 other types of cards from the deck. Show/explain your work.**

In [3]:
## 2 choices of 13 clubs, 3 choices of 50 remaining 3 => 13C2 * 50C3

twoClubHand = (13*12/2) * (50*49*48)/(3*2*1)
twoClubHand

1528800.0

**d) (2 pts) What is the probability that a poker hand contains exactly 2 clubs?**

In [4]:
# 2 choices of 13 clubs, 3 choices out of 39 non-club cards
exactTwoClubHand = ((13*12/2)*(39*38*37/(3*2*1)))/ ( 52*51*50*49*48/(5*4*3*2*1))
exactTwoClubHand

0.2742797118847539

### Part 2 (8 pts) Sampling with replacement.

**a) (2 pts) Instead of a poker hand, now we will sample five cards (rows) with replacement. Using python and the cards data frame you imported, display a random sample of 5 "cards" drawn with replacement, i.e. 5 rows sampled from the cards data frame.**

In [5]:
df.sample(n=5, replace=True)

    color     suit face
47    red    heart    9
15  black    spade    3
33    red  diamond    8
37    red  diamond    Q
4   black     club    5

**b) (3 pts) We draw five cards at random with replacement, keeping track of whether or not each card in the sequence is a club. Find the probability of the following sequence: Club, Not Club, Club, Not Club, Not Club, i.e. CNCNN. Hint: Determine how many ways there are to sample a sequence of 5 cards with replacement, and out of these, how many ways to get a sequence with clubs in the first and third position only.**

In [7]:
sample5withrep = 52**5
club1and3 = 13*39*13*39*39
prob = club1and3 / sample5withrep
prob

0.0263671875

**c) (2 pts) Notice that all sequences of 5 cards with exactly two clubs have the same probability. Based on this fact and your result in b), find the probability of getting exactly 2 clubs in a sequence of 5 cards drawn at random with replacement from a 52 card deck. Hint: consider how many ways there are to insert two clubs in a sequence of 5 cards.**

In [8]:
club1and3allposition = club1and3 * 10 ## 5C2 = 10
club1and3allposition/sample5withrep

0.263671875

### Part 3 (9 pts) Back to poker hands.

**a) (3 pts) The poker hand, "two pairs" consist of two cards of one face value, 2 cards of second face value, and 1 card of a third face value among the 13 choices: A, 2, 3, ..., 10, J, Q, K. Using the combinatorial methods in the notes, find the probability of "two pairs" when 5 cards are drawn at random without replacement. Explain your reasoning.**

In [9]:
## 13 value choose 2, 4 value choose 2 for first pair, 4 value choose 2 for second pair,
#11 value remaining choose 1, 4 value choose 1 for the last card
# prob = (13C2) * (4C2) * (4C2) * (11C1) * (4C1) / (52C5)
prob = ((13*12/2) * (6)**2 * (11) * 4 ) / (52*51*50*49*48/(5*4*3*2*1))
prob

0.0475390156062425

In [10]:
test = df.sample(n=5)
test

    color   suit face
23  black  spade    J
39    red  heart    A
4   black   club    5
18  black  spade    6
16  black  spade    4

**b) (3 pts) Define a python function that checks whether a given sample of 5 cards from the cards data frame is the "two pairs" hand. It should return the value True if the sample is a "two pairs" sample, and False if not. Show that your function works by testing on the test cases given below. Hint: compare the function for detecting a "full house" in the class notes.**

In [11]:
test['face'].value_counts().shape

(5,)

In [12]:
def isTwoPairs(df, var = "face"):
    if df[var].shape[0] != 5:
        return False
    else:
        counts = df[var].value_counts()
        if counts.shape[0] == 3 and counts.max() == 2:
            return True
        else:
            return False

In [13]:
# test cases - run this cell to create them
test1 = pd.DataFrame({'color': ['red', 'black', 'black', 'black', 'red'],
                      'suit': ['heart', 'club', 'spade', 'club', 'diamond'],
                      'face': ['2','Q','2','K','K']})
test2 = pd.DataFrame({'color': ['red', 'black', 'black', 'black', 'red'],
                      'suit': ['heart', 'club', 'spade', 'club', 'diamond'],
                      'face': ['A','Q','2','K','K']})
test3 = pd.DataFrame({'color': ['red', 'black', 'black', 'black', 'red'],
                      'suit': ['heart', 'club', 'spade', 'club', 'diamond'],
                      'face': ['2','2','2','K','K']})

In [17]:
isTwoPairs(test1)

True

In [18]:
isTwoPairs(test2)

False

In [19]:
isTwoPairs(test3)

False

In [20]:
isTwoPairs(df.sample(n = 5))

True

**c) (3 pts) Use your function in a "for loop" to estimate the probability of "two pairs" based on 10000 random samples of 5 rows without replacement from the cards data frame. For a related example see the class notes on sampling.**

In [58]:
n = 50000
count = 0
for i in range(n):
    
    newdf = df.sample(5)
    count += isTwoPairs(newdf)
    prob = count/n 
print(count/n)

0.047